src/FreyrFund.Api/obj/Debug/net9.0/FreyrFun*
src/FreyrFund.Api/obj/Debug/net9.0/*.json
src/FreyrFund.Api/obj/Debug/net9.0/*.cache
src/FreyrFund.Api/obj/Debug/net9.0/apphost.exe
src/FreyrFund.Api/obj/Debug/net9.0/ref/FreyrFund.Api.dll
src/FreyrFund.Api/obj/Debug/net9.0/refint/FreyrFund.Api.dll
src/FreyrFund.Api/obj/FreyrFund.Api.csproj.nuget.dgspec.json
src/FreyrFund.Api/obj/project.assets.json
src/FreyrFund.Api/obj/project.nuget.cache
src/FreyrFund.Api/obj/Debug/net9.0/.NET*
src/FreyrFund.Api/bin/Debug/net9.0/FreyrFund.Api.dll
src/FreyrFund.Api/bin/Debug/net9.0/FreyrFund.Api.exe