src/FreyrFund.Api/bin/Debug/net9.0/FreyrFund.Api.dll
src/FreyrFund.Api/bin/Debug/net9.0/FreyrFund.Api.exe
src/FreyrFund.Api/bin/Debug/net9.0/FreyrFund.Api.pdb
src/FreyrFund.Api/obj/FreyrFund.Api.csproj.nuget.dgspec.json
src/FreyrFund.Api/obj/project.assets.json
src/FreyrFund.Api/obj/project.nuget.cache
src/FreyrFund.Api/obj/Debug/net9.0/apphost.exe
src/FreyrFund.Api/obj/Debug/net9.0/FreyrFund.Api.AssemblyInfo.cs
src/FreyrFund.Api/obj/Debug/net9.0/FreyrFund.Api.AssemblyInfoInputs.cache
src/FreyrFund.Api/obj/Debug/net9.0/FreyrFund.Api.assets.cache
src/FreyrFund.Api/obj/Debug/net9.0/FreyrFund.Api.csproj.FileListAbsolute.txt
src/FreyrFund.Api/obj/Debug/net9.0/FreyrFund.Api.dll
src/FreyrFund.Api/obj/Debug/net9.0/FreyrFund.Api.GeneratedMSBuildEditorConfig.editorconfig
src/FreyrFund.Api/obj/Debug/net9.0/FreyrFund.Api.genruntimeconfig.cache
src/FreyrFund.Api/obj/Debug/net9.0/FreyrFund.Api.pdb
src/FreyrFund.Api/obj/Debug/net9.0/FreyrFund.Api.sourcelink.json
src/FreyrFund.Api/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
src/FreyrFund.Api/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
src/FreyrFund.Api/obj/Debug/net9.0/rpswa.dswa.cache.json
src/FreyrFund.Api/obj/Debug/net9.0/ref/FreyrFund.Api.dll
src/FreyrFund.Api/obj/Debug/net9.0/refint/FreyrFund.Api.dll