<nav class="main-navbar">
    <div class="navbar-left">
      <img src="assets/images/FreyrCoin.png" alt="FreyrFund" class="logo" />
      <span class="welcome-message">Bienvenu, {{ getUserName(email) }}</span>
    </div>
  
    <div class="navbar-center">
      <a routerLink="/home" routerLinkActive="active-link">Home</a>
      <a routerLink="/projects" routerLinkActive="active-link">Investir</a>
    </div>
  
    <div class="navbar-right" (clickOutside)="closeMenu()">
      <div class="user-avatar" (click)="toggleMenu()">
        {{ getInitials(email) }}
      </div>
  
      <div class="dropdown-menu" *ngIf="menuOpen">
        <a (click)="openContactForm()">Contact</a>
        <a (click)="goToFaq()">FAQ</a>
        <a (click)="deleteAccount()">Éliminer Compte</a>
        <a (click)="logout()">Logout</a>
      </div>
    </div>
  </nav>
  <app-formulario-contacto
  *ngIf="showContactForm"
  (close)="closeContactForm()">
</app-formulario-contacto>

<div class="modal-overlay" *ngIf="showContactForm" (click)="closeContactForm()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <app-formulario-contacto (close)="closeContactForm()"></app-formulario-contacto>
    <button class="modal-close" (click)="closeContactForm()">Fermer</button>
  </div>
</div>