<div class="portfolio-card">
  <div class="card-header">
  <h2><i class="fas fa-wallet"></i> Meu Portfólio</h2>
  </div>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  <div *ngIf="transactions.length > 0; else noData" class="table-container">
  <div class="table-responsive">
  <table class="styled-table">
  <thead>
  <tr>
  <th>Date</th>
  <th>Type</th>
  <th>Valeur</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let t of transactions">
  </tbody>
  </table>
  </div>
  </div>
  <ng-template #noData>
  <p class="no-data-message">Il n'y a pas de transactions dans le portefeuille.</p>