<div class="admin-card">
  <div class="admin-card-header">
    <button class="btn-primary" *ngIf="!editing" (click)="startCreate()">Nouveau Projet</button>
  </div>


  <div *ngIf="!editing" class="admin-card-body">
    <table class="admin-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Titre</th>
          <th>Description</th>
          <th>Taux (%)</th>
          <th>Délais</th>
          <th>Objectif</th>
          <th>Risque</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of projects">
          <td>{{ p.id }}</td>
          <td class="ellipsis" [title]="p.title">{{ p.title }}</td>
          <td class="ellipsis" [title]="p.description">{{ p.description }}</td>
          <td>{{ formatPercent(p.rate) }}</td>
          <td>{{ p.term }}m</td>
          <td>{{ p.target | currency:'EUR':'symbol' }}</td>
          <td>
            {{ p.risk === 0 ? 'A - Sûr' : p.risk === 1 ? 'B - Modéré' : 'C - Élevé' }}
          </td>
          <td class="actions">
            <button class="icon-btn" (click)="startEdit(p)">✏️</button>
            <button class="icon-btn" (click)="remove(p.id!)" [disabled]="removingId === p.id">
              {{ removingId === p.id ? 'Removendo…' : '🗑️' }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <div *ngIf="editing" class="admin-form-container">
    <h3>{{ form.value.id ? 'Editar' : 'Créer' }} Projet</h3>
    <form [formGroup]="form" (ngSubmit)="save()">
      <input type="hidden" formControlName="id" />

      <label>Titre <input formControlName="title" /></label>
      <label>Description <textarea formControlName="description" rows="3"></textarea></label>
      <label>Taux d’intérêt (%) <input type="number" formControlName="rate" /></label>
      <label>Niveau de risque
        <select formControlName="risk">
          <option [ngValue]="0">A - Sûr</option>
          <option [ngValue]="1">B - Modéré</option>
          <option [ngValue]="2">C - Élevé</option>
        </select>
      </label>
      <label>Délais (mois) <input type="number" formControlName="term" /></label>
      <label>Objectif de financement (EUR) <input type="number" formControlName="target" /></label>
      <label>Image du Projet</label>
      <app-upload-image (imageUploaded)="onImageUploaded($event)"></app-upload-image>

      <div class="form-actions">
        <button type="submit" class="btn-primary" [disabled]="form.invalid">
          {{ form.value.id ? 'Atualizar' : 'Créer' }}
        </button>
        <button type="button" class="btn-secondary" (click)="cancel()">Annuler</button>
      </div>
    </form>
  </div>
</div>
